apturl
asgiref
backports.zoneinfo
bcrypt
blinker
Brlapi
certifi
chardet
Click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
Django
duplicity
entrypoints
fasteners
future
httplib2
idna
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
protobuf
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyRFC3339
python-apt
python-dateutil
python-debian
python-decouple
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage
simplejson
six
sqlparse
systemd-python
typing-extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xkit