{% extends 'registration/regbase.html' %}
{% block title %}Forgot Password{% endblock title %}
{% block body %}
<style>
.inputGroup {
  margin-bottom: 20px;
}
form{
	max-width: 482px;
}
.inputGroup2 label {
  display: none;
}

.inputGroup2 input {
  height: 30px;
  padding: 5px;
}

.inputGroup3 button {
  height: 65px;
}

.text-danger {
  margin-top: 10px;
  font-size: 14px;
}

	</style>
{% if otp %}
<form class="row contact_form" action="{%url 'forgot_password'%}" method="post">
    {% csrf_token %}
{% if messages %}
{% for message in messages %}
<div class="text-center text-danger">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
<div class="inputGroup inputGroup2">
    <input type="text" id="loginUsername" name="otp" value="{{pre_otp}}" placeholder="otp" required/>
    </div>
  <div class="inputGroup inputGroup2">
    <input type="password" id="loginUsername" name="password1" placeholder="Password" required/>
    </div>
  <div class="inputGroup inputGroup2">
    <input type="password" id="loginUsername" name="password2" placeholder="Conform Password" required/>
    </div>
    <input  type="hidden" name="email" value="{{usr.email}}">
<div class="inputGroup inputGroup3">
    <button type="submit" id="login">Log in</button>
</div>
<a href="{% url 'signup'%}" style="float: right; margin-top: 26px;text-decoration: none;">Return signup</a>
</form>
{% else %}
<form class="row contact_form" action="{%url 'forgot_password'%}" method="post">
	{% csrf_token %}
	{% if messages %}
	{% for message in messages %}
	<div class="text-center text-danger">
	  <strong>{{message}}</strong>
	</div>
    {% endfor %}
    {% endif %}
	<div class="inputGroup inputGroup2">
		<input type="text" id="loginUsername" name="email" value="{{pre_name}}" placeholder="Email" />
	  </div>
  
	<div class="inputGroup inputGroup3">
	  <button type="submit" id="login">verify email</button>
	</div>
	<a href="{% url 'signin'%}" style="float: right; margin-top: 26px;text-decoration: none;">Goto signin</a>
  </form>
{% endif %}
{% endblock %}