{% extends 'registration/regbase.html' %}
{% block title %}Reset Password{% endblock title %}
{% block body %}
<form class="row contact_form" action="{%url 'forgot_password'%}" method="post">
	{% csrf_token %}
	{% if messages %}
	{% for message in messages %}
	<div class="text-center text-danger">
	  <strong>{{message}}</strong>
	</div>
    {% endfor %}
    {% endif %}
	<div class="inputGroup inputGroup2">
		<input type="text" id="loginUsername" name="password1" value="" placeholder="Password" />
	  </div>
      <div class="inputGroup inputGroup2">
		<input type="text" id="loginUsername" name="password2" value="" placeholder="Conform Password" />
	  </div>
  
	<div class="inputGroup inputGroup3">
	  <button type="submit" id="login">Submit</button>
	</div>
	<a href="{% url 'signin'%}" style="float: right; margin-top: 26px;text-decoration: none;">Goto signin</a>
  </form>
{% endblock %}