{% extends 'admin/dashboardbase.html' %}
{% block title %}Offer{% endblock  %}
{% block body %}
<style>
  @media only screen and (max-width: 456px) {
.cards{
  width: 518px;
}

}
</style>
<!-- Button trigger modal -->
<a type="button" class="btn btn-secondary w-60" style="margin-top: 80px;margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#addCategory">
  <i title="Add Category" class="fa fa-plus">Add offer</i>
</a>
{% if messages %}

{% for message in messages %}

<div class="text-center text-danger">
<strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}

<!--Add offer  Modal -->
<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Add Offer</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <form action="{% url 'addoffer'%}"  enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div style="width: 100px;" class="card-header category-img position-relative overflow-hidden bg-transparent border p-0">
        </div> 
        <div class="form-outline mb-4">
          <input name='ordername'   type="text" id="form3Example3cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example3cg">Offer name</label>
        </div>
        <div class="form-outline mb-4">
          <input name='discount'  type="number" id="form3Example3cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example3cg">Discount Amount</label>
        </div>
       <div class="d-flex justify-content-center">
          <button type="submit"
            class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light" type="submit">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!--end of add product modal-->

<div class="pagetitle pt-3 ps-5">
  <div class="shop__sidebar__search me-4" style="float: right;">
    <form action="{%url 'search_offer'%}">
      <input type="text" placeholder="Search..." name="keyword" style="border-radius: 20px; height: 40px; text-align: center; font-size: 16px;">
      <button type="submit"><span class="icon_search"></span></button>
    </form>
  </div>
  <h1 style="font-weight: bold;">Offer</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">

        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card cards recent-sales overflow-auto">
            <div class="card-body">

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Offer name</th>
                    <th scope="col">Discount amount</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                
                {% for c in offer %}

                  <tr>
                    <td>  {{c.id}}  </td>
                    <td>  {{c.offer_name}} </td>
                    <td>  {{c.discount_amount}} </td>
                    
                    <!-- edit -->
                    <td>
                      <!-- Button trigger modal -->
                      <a type="button" class="fs-4 btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmEdit{{forloop.counter}}">
                        <i title="" class="fa fa-edit">edit</i>
                      </a> 
                      <!--Edit Modal -->
                       <div class="modal fade" id="confirmEdit{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">

                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Offer</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form action="{% url 'editoffer' c.id%}"  enctype="multipart/form-data" method="POST">
                                {% csrf_token %}
                                <div style="width: 100px;" class="card-header category-img position-relative overflow-hidden bg-transparent border p-0">
                                </div> 
                                <div class="form-outline mb-4">
                                  <input name='orfername' value="{{c.offer_name}}"  type="text" id="form3Example3cg" class="form-control form-control-lg" />
                                  <label class="form-label" for="form3Example3cg">Offer name</label>
                                </div>
                                <div class="form-outline mb-4">
                                  <input name="discount" value="{{ c.discount_amount }}" type="number" id="form3Example3cg" class="form-control form-control-lg" />
                                  <label class="form-label" for="form3Example3cg">Discount Amount</label>
                                </div>
                                
                               <div class="d-flex justify-content-center">
                                  <button type="submit"
                                    class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light" type="submit">Save Changes</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                       </div>

                      <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">
                          Delete
                        </button>

                        <!-- Modal  for delete the product -->
                        <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                delete Offer {{c.offer_name }}
                              </div>
                              <div class="modal-footer">
                                <form action="{%url 'deleteoffer' c.id%}" >
                                    
                                  <button type="submit" class="btn btn-danger">Confirm</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    </td>
                    <!--deleting ended-->

                 </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Recent Sales -->
          </div>
        </div>
      </div>
      {% if message %}
      <div class="message"><a href="{%url 'adminoffer'%}"><h1 class="font-weight-bold text-center pt-5" style="color: #403c3c52;font-weight: bold;">{{ message }}</h4> </a></div>
     {% endif %}
  

{% endblock  %}