{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="adminimage/png" href="images/logos/favicon.png" />
  <link rel="stylesheet" href="{% static 'admin/css/styles.min.css'%}"/>
  <title>{% block title %}{% endblock  %}</title>
</head>
<body>
   <!--  Body Wrapper -->
   <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
   data-sidebar-position="fixed" data-header-position="fixed">
   <!-- Sidebar Start -->
   <aside class="left-sidebar">
     <!-- Sidebar scroll-->
     <div>
       <div class="brand-logo d-flex align-items-center justify-content-between">
         <a href="./index.html" class="text-nowrap logo-img">
           <img src="{% static 'admin/images/logos/dark-logo.svg'%}" width="180" alt="" />
         </a>
         <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
           <i class="ti ti-x fs-8"></i>
         </div>
       </div>
       <!-- Sidebar navigation-->
       <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
         <ul id="sidebarnav">
           <li class="nav-small-cap">
             <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
             <span class="hide-menu">Home</span>
           </li>
           <li class="sidebar-item">
             <a href="{%url 'dashboard'%}" class="sidebar-link" href="" aria-expanded="false">
               <span>
                 <i class="ti ti-layout-dashboard"></i>
               </span>
               <span class="hide-menu">Dashboard</span>
             </a>
           </li>
           <li class="nav-small-cap">
             <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
             <span class="hide-menu">WORKS</span>
           </li>
           <li class="sidebar-item">
             <a class="sidebar-link" href="{%url 'user'%}" aria-expanded="false">
               <span>
                 <i class="ti ti-article"></i>
               </span>
               <span class="hide-menu">User</span>
             </a>
           </li>
           <li class="sidebar-item">
             <a href="{%url 'categories'%}" class="sidebar-link"  aria-expanded="false">
               <span>
                 <i class="ti ti-alert-circle"></i>
               </span>
               <span class="hide-menu">category</span>
             </a>
           </li>
           <li class="sidebar-item">
             <a class="sidebar-link" href="{%url 'brands'%}" aria-expanded="false">
               <span>
                 <i class="ti ti-cards"></i>
               </span>
               <span class="hide-menu">Brand</span>
             </a>
           </li>
           <li class="sidebar-item">
             <a class="sidebar-link" href="{%url 'product'%}" aria-expanded="false">
               <span>
                 <i class="ti ti-file-description"></i>
               </span>
               <span class="hide-menu">Product</span>
             </a>
           </li>
           <li class="sidebar-item">
             <a class="sidebar-link" href="{%url 'banner'%}" aria-expanded="false">
               <span>
                 <i class="ti ti-file-description"></i>
               </span>
               <span class="hide-menu">Banner</span>
             </a>
           </li>
           <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'variations'%}" aria-expanded="false">
              <span>
                <i class="ti ti-typography"></i>
              </span>
              <span class="hide-menu">Variations</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'orderdetails'%}" aria-expanded="false">
              <span>
                <i class="ti ti-typography"></i>
              </span>
              <span class="hide-menu">Orders</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'admincoupon'%}" aria-expanded="false">
              <span>
                <i class="ti ti-typography"></i>
              </span>
              <span class="hide-menu">admincoupon</span>
            </a>
          </li>
           <li class="nav-small-cap">
             <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
             <span class="hide-menu">AUTH</span>
           </li>
           <li class="sidebar-item">
             <a class="sidebar-link" href="{%url 'logout'%}" aria-expanded="false">
               <span>
                 <i class="ti ti-login"></i>
               </span>
               <span class="hide-menu">Logout</span>
             </a>
           </li>
           <li class="sidebar-item">
             <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
               <span>
                 <i class="ti ti-user-plus"></i>
               </span>
               <span class="hide-menu">Register</span>
             </a>
           </li>
           <li class="nav-small-cap">
             <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
             <span class="hide-menu">EXTRA</span>
           </li>
           <li class="sidebar-item">
               <span>
                 <i class="ti ti-mood-happy"></i>
               </span>
               <span class="hide-menu">Icons</span>
             </a>
           </li>
           <li class="sidebar-item">
             <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
               <span>
                 <i class="ti ti-aperture"></i>
               </span>
               <span class="hide-menu">Sample Page</span>
             </a>
           </li>
         </ul>
         <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
           <div class="d-flex">
             <div class="unlimited-access-title me-3">
               <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
               <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
             </div>
             <div class="unlimited-access-img">
               <img src="../assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
             </div>
           </div>
         </div>
       </nav>
       <!-- End Sidebar navigation -->
     </div>
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{%static 'admin/images/profile/user-1.jpg'%}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="{%url 'logout'%}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
  {% block body %}{% endblock  %}
  <script src="{% static 'admin/libs/jquery/dist/jquery.min.js'%}"></script>
  <script src="{% static 'admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script> 
 <script src="{% static 'admin/js/sidebarmenu.js'%}"></script>
  <script src="{% static 'admin/js/app.min.js'%}"></script>
  <script src="{% static 'admin/libs/apexcharts/dist/apexcharts.min.js'%}"></script>
  <script src="{% static 'admin/libs/simplebar/dist/simplebar.js'%}"></script>
  <script src="{% static 'admin/js/dashboard.js'%}"></script> 
</body>
</html>