/*---------------------
  Header
-----------------------*/
.header {
    background: $white-color;
}

.header__top {
    background: #111111;
    padding: 10px 0;
}

.header__top__left {

    p {
        color: $white-color;
        margin-bottom: 0;
    }
}

.header__top__right {
    text-align: right;
}

.header__top__links {
    display: inline-block;
    margin-right: 25px;

    a {
        color: $white-color;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 28px;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }
}

.header__top__hover {
    display: inline-block;
    position: relative;

    &:hover {

        ul {
            top: 24px;
            opacity: 1;
            visibility: visible;
        }
    }

    span {
        color: $white-color;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
        cursor: pointer;

        i {
            font-size: 20px;       
            position: relative;
            top: 3px;
            right: 2px;
        }
    }

    ul {
        background: $white-color;
        display: inline-block;
        padding: 2px 0;
        position: absolute;
        left: 0;
        top: 44px;
        opacity: 0;
        visibility: hidden;
        z-index: 3;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        @include transition(all, .3s);

        li {
            list-style: none;
            font-size: 13px;
            color: #111111;
            padding: 2px 15px;
            cursor: pointer;
        }
    }
}

.header__logo {
    padding: 30px 0;

    a {
        display: inline-block;
    }
}

.header__menu {
    text-align: center;
    padding: 26px 0 25px;

    ul {

        li {
            list-style: none;
            display: inline-block;
            margin-right: 45px;
            position: relative;

            &.active {

                a {
                    
                    
                    &:after {
                        transform: scale(1);
                    }
                }
            }

            &:hover {

                a {
                    
                    &:after {
                       transform: scale(1);
                    }
                }

                .dropdown {
                    top: 32px;
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            .dropdown {
                position: absolute;
                left: 0;
                top: 56px;
                width: 150px;
                background: $heading-color;
                text-align: left;
                padding: 5px 0;
                z-index: 9;
                opacity: 0;
                visibility: hidden;
                @include transition(all, .3s);

                li {
                    display: block;
                    margin-right: 0;

                    a {
                        font-size: 14px;
                        color: $white-color;
                        font-weight: 400;
                        padding: 5px 20px;
                        text-transform: capitalize;

                        &:after {
                            display: none;
                        }
                    }
                }
            }

            a {
                font-size: 18px;
                color: $heading-color;
                display: block;
                font-weight: 600;
                position: relative;
                padding: 3px 0;

                &:after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: $primary-color;
                    content: '';
                    @include transition(all, .5s);
                    transform: scale(0);
                }
            }
        }
    }
}

.header__nav__option {
    text-align: right;
    padding: 30px 0;

    a {
        display: inline-block;
        margin-right: 26px;
        position: relative;

        span {
            color: #0d0d0d;
            font-size: 11px;
            position: absolute;
            left: 5px;
            top: 8px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .price {
        font-size: 15px;
        color: $heading-color;
        font-weight: 700;
        display: inline-block;
        margin-left: -20px;
        position: relative;
        top: 3px;
    }
}

.offcanvas-menu-wrapper {
    display: none;
}

.canvas__open {
    display: none;
}