{% extends 'user/base.html' %}
{% block title %}Wishlist{% endblock %}
{% block body %}
{% load static %}
<!-- ajax end-->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Wishlist</h4>
                        <div class="breadcrumb__links">
                            <a href="{%url 'home'%}">Home</a>
                            <a href="{%url 'shop'%}">Shop</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"/>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->

    <link rel="stylesheet" href="{%static 'cart/css/style.css'%}" type="text/css">

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container product_data cartdata">
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>

                                    <th>Product</th>
                                    <th>Product name</th>
                                    <th>Rate</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not wishlist %}
                                <h2 class="text-center font-weight-bold" style="color: #c5c1c1;" >Your Wishlist is Empty</h2>
                                <br>
                                <br>
                                <br>
                                {% else %}
                                {% for item in wishlist %}
                                <tr class="product_data">
                                    <td class="product_cart_item">
                                        <div class="product_cart_item_pic ">
                                            <img src="{{ item.variation.image1.url}}" height="90px" alt="IMG"  >
                                        </div>
                                    </td>
                                    <td class="product_cart_item_text">
                                        <h5 style="font-weight: bold;">{{ item.variation.product.product_name }}</h5>
                                    </td>                
                                    <td>
                                    <h5 style="font-weight: bold;">₹{{ item.variation.product.product_price }}</h5>
                                    </td>
                                    <td>
                                        <div class="continue__btn">
                                            <a href="" class="addToCartBtn"  data-variantid="{{item.variation.id}}" data-productid="{{item.product.id}}">Add to Cart</a>
                                        </div>
                                    </td>                                 
                                    <td class="cart__close">
                                        <a data-variantid="{{item.variation.id}}" class="deleteWishlit" href="" ><i class="fa fa-close"></i></a> 
                                    </td>
                                </tr>
                                 
                                {% endfor %}
                                {% endif %}
                               
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="{%url 'shop'%}">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="{%url 'wishlist'%}"><i class="fa fa-spinner"></i> Update Wishlist</a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script>
    $(document).ready(function() {
        $(document).on('click', '.deleteWishlit', function(e) {
            e.preventDefault();
    
            var variant_id = $(this).data('variantid');
            var token = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
                method: "POST",
                url: "/wishlist/deletewishlist/",
                data: {
                    'variant_id': variant_id,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                success: function(response) {
                    alertify.success(response.status);
                    $('.cartdata').load(location.href + " .cartdata");
                }
            });
        });
    });
 </script>
 <script>
$(document).on('click', '.addToCartBtn', function(e) {
  e.preventDefault();

  var variant_id = $(this).data('variantid');
  var prod_id = $(this).data('productid');
  var product_qty = 1;
  $.ajax({
    method: "POST",
    url: "/cart/add_cart/",
    data: {
      'variation_id': variant_id,
      'product_qty': product_qty,
      'prod_id': prod_id,
      csrfmiddlewaretoken: '{{csrf_token }}'
    },
    success: function(response) {
      console.log(response);
      alertify.success(response.status);
      $('.cartdata').load(location.href + " .cartdata");
    }
  });
});

</script>   


{% endblock %}
