{% extends 'user/base.html' %}
{% block title %}E-PODS{% endblock  %}
{% block body %}
{% load static %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="{%static 'user/image/breadcrumb-bg.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Blog</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="https://c.ndtvimg.com/2022-09/b62a6ah_-dulquer_625x300_20_September_22.jpg?im=Resize=(1230,900)');"></div>
                        <div class="blog__item__text">
                            <span><img src="https://c.ndtvimg.com/2022-09/b62a6ah_-dulquer_625x300_20_September_22.jpg?im=Resize=(1230,900)');" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="https://images.news18.com/ibnlive/uploads/2022/09/mammootty-movies.jpg" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="https://s3.filmytoday.com/albums/Bollywood/2023/Mar/21/Actress_Honey_Rose_Latest_Photos/e795ecb60d28fd9aa303cbfad7b400b6.jpg" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}