{% extends 'user/base.html' %}
{% block title %}My Orders{% endblock %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'admin/css/styles.min.css'%}"/>

<link rel="stylesheet" type="text/css" href="{%static 'single/css/util.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'single/css/main.css'%}">
<!-- ajax -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css" />
<!-- ajax end-->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="{%url 'home'%}">Home</a>
                        <a href="{%url 'shop'%}">Shop</a>
                        <span>Your Orders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad cartdata">
    <div class="container">
        <div class="row ">
            <table class="product_data">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name & Price</th>
                        <th>Color</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Payment Method</th>
                        <th>Tracking No</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th></th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>        
                  {% for odritem in orderitems %}
                  <tr>
                      
                      <td class="product_cart_item">
                          <div class="product_cart_item_pic">
                              <img src="{{ odritem.variation.image1.url }}" height="90px" alt="IMG">
                          </div>
                      </td>
                      <td class="product_cart_item_text">
                          <h5 style="font-weight: bold;">{{ odritem.product.product_name }}</h5>
                          <h5 style="font-weight: bold;">₹{{ odritem.product.product_price }}</h5>
                      </td>
                      <td>{{ odritem.variation.color }}</td>
                      <td>{{ odritem.quantity }}</td>
                      <td class="cart__price total">₹{{ odritem.order.total_price }}</td>
                      <td>{{ odritem.order.payment_mode }}</td>
                      <td>{{ odritem.order.tracking_no }}</td>
                      <td>
                          {% if odritem.status == 'Pending' %}
                              <span class="badge p-2 my-2 text-warning" style="font-size: medium;">{{ odritem.status }}</span>
                          {% elif odritem.status == 'Processing' %}
                              <span class="badge p-2 my-2 text-warning" style="font-size: medium;">{{ odritem.status }}</span>
                          {% elif odritem.status == 'Shipped' %}
                              <span class="badge p-2 my-2 text-primary" style="font-size: medium;">{{ odritem.status }}</span>
                          {% elif odritem.status == 'Delivered' %}
                              <span class="badge p-2 my-2 text-success" style="font-size: medium;">{{ odritem.status }}</span>
                          {% elif odritem.status == 'Cancelled' or 'refunded' %}
                              <span class="badge p-2 my-2 text-warning" style="font-size: medium;">{{ odritem.status }}</span>
                          {% endif %}
                      </td>
                      {% if odritem.status != 'Cancelled' and odritem.status != 'Delivered' and odritem.status != 'Return'%}
                      <td>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModals{{ forloop.counter }}">
                              Cancel
                          </button>
                          <!-- Modal for deleting the product -->
                          <div class="modal fade cartdata" id="exampleModals{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ forloop.counter }}" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel{{ forloop.counter }}">Confirm Cancel</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                          Cancel Product {{ odritem.product.product_name }}
                                      </div>
                                      <div class="modal-footer">
                                        {% csrf_token %}
                                        <input type="hidden" class="order_id" value="{{ odritem.order.id }}">
                                        <input type="hidden" class="orderitem_id" value="{{ odritem.id }}">
                                          <button type="submit" class="btn btn-danger ordercancel">Confirm</button>
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- Deleting ended -->
                      </td>
                      {% else %}
                      <td></td>
                      {% endif %}
                      {% if odritem.order.status != 'Cancelled' %}
                      <td>
                          {% if odritem.order.status == 'Delivered' %}
                                         <!-- Button trigger modal -->
                        <a type="button" data-bs-toggle="modal" data-bs-target="#editprofile">
                            <button class="btn btn-outline-dark"> Return</button></a>

                            <!--Reason Modal -->
                        <div class="modal fade" id="editprofile" tabindex="-1" aria-labelledby="exampleModalLabel{{ forloop.counter }}" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title fs-5" id="exampleModalLabel{{ forloop.counter }}">Retuen reason form</h4>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa fa-times"></i>
                                </button>
                                </div>
                                  </select>
                                <div class="modal-body">
                                <form action="" enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <select class="form-select mb-1" aria-label="Default select example">
                                            <option value="1">Damaged Product</option>
                                            <option value="2">Item Wrong</option>
                                            <option value="3"></option>
                                          </select>
                                        <label class="form-label" for="form3Example3cg">Choose issue</label>
                                        </div>
                                    <div class="form-outline mb-4">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        <label class="form-label" for="form3Example3cg">Reason</label>
                                        </div>
                                    <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light">Return</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                            {% elif odritem.order.status == 'Return' %}
                            <a href="{%url 'trackorder' %}" type="button" class="btn btn-outline-dark">Track Your Return</a>
                          {% else %}
                              <a href="{%url 'trackorder' %}" type="button" class="btn btn-outline-dark">Track Your order</a>
                          {% endif %}
                      </td>
                      {% endif %}
                  </tr>
                  {% endfor %}
                  
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mt-4">
                <div class="continue__btn">
                    <a href="{%url 'shop'%}">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script>
    $(document).ready(function() {
        $('.ordercancel').click(function(e) {
          e.preventDefault();
      
          var order_ids = $(this).closest('.modal-content').find('.order_id').val();
          var orderitem_ids = $(this).closest('.modal-content').find('.orderitem_id').val();
          var token = $("[name='csrfmiddlewaretoken']").val();
      
          var modal = $(this).closest('.modal');
          
          $.ajax({
            method: "POST",
            url: "/orders/ordercancel/",
            data: {
              'order_id': order_ids,
              'orderitem_id': orderitem_ids,
              csrfmiddlewaretoken: token
            },
            success: function(response) {
              console.log(response);
              alertify.success(response.status);
      
              location.reload();
            },
            error: function(xhr, status, error) {
              console.log(xhr.responseText);
              // Handle error case
            }
          });
        });
      });
      
</script>

{% endblock %}