{% extends 'admin/dashboardbase.html' %}
{% block  title%}Orders{% endblock  %}
{% block body %}

<style>
  @media only screen and (max-width: 456px) {
    .card{
      width: 426px;
    }
  }
  @media only screen and (max-width: 767px) {
      .btn {
          font-size: 12px; 
          padding: 5px 10px;
      }
  }
</style>
<div class="pagetitle ps-5" style="padding-top: 100px;">
<div class="shop__sidebar__search me-4" style="float: right;">
  <form action="{%url 'search_orders'%}">
    <input type="text" placeholder="Search..." name="keyword" style="border-radius: 20px; height: 40px; text-align: center; font-size: 16px;">
    <button type="submit"><span class="icon_search"></span></button>
  </form>
</div>
<a href="{% url 'export_csv' %}" class="btn btn-primary">Excel</a>

<h1 style="font-weight: bold;">Orders</h1>
  
</div><!-- End Page Title -->

<section class="section dashboard cartdata">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
            <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th>Order_date</th>
                    <th>Order_date</th>
                    <th>Total</th>
                    <th>Tracking id</th>
                    <th>Action</th>
                    <th></th>
                </tr>
                </thead>
                    <tbody >
                      {% for orders in orders %}

                    <tr class="product_data">
                      <td style="font-size: 17px;">{{ orders.user.username}}</td>
                      <td style="font-size: 17px;">{{ orders.created_at }}</td>
                      <td class="cart__price total">₹{{ orders.total_price|floatformat:2 }}</td>
                      <td style="font-size: 17px;">{{ orders.tracking_no }}</td>
                      <td><a href="{%url 'adminrderdetail' orders.tracking_no %}" class="btn btn-outline-dark">View order details</a></td>

                      </tr>
                        {% endfor %}
                    </tbody>
             </table>
            </div>
          </div>
        </div><!-- End Recent Sales -->
       </div>
    </div>
 </div>
 </section>

{% endblock  %}

