{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock  %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/style.css'%}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<style>
    a{
        text-decoration: none !important;
    }
    .header__top__links:hover span {
    color: white;
}
.modal-dialog.modal-dialog-right {
margin-left: auto;
margin-right: 0;
max-width: 400px; /* Adjust the width as needed */
}

.modal-content {
background-color: #d1d1d1; /* Change the background color to your desired color */
color: black; /* Change the text color to contrast with the background */
}
.modal-header{
    border-bottom: 0px !important;
}
.modal-footer{
    border-top: 0px !important;
}
.name{
    font-weight: 400;
    
}
</style>
<body>
 <!-- Page Preloder -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                {% if request.user.is_authenticated %}
                <a href="{%url 'logout'%}">Logout</a>
                {% else %}                              
                <a href="{%url 'signin'%}">Sigin</a>
                   {% endif %}
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{%static 'user/image/icon/search.png'%}" alt=""></a>
            <a href="{%url 'wishlist'%}"><img src="{%static 'user/image/icon/heart.png'%}" alt=""></a>
            <a href="{%url 'cart'%}"><img src="{%static 'user/image/icon/cart.png'%}" alt="" > <span></span></a>
            <div class="price"></div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if request.user.is_authenticated %}
                                <a href="{%url 'logout'%}">Logout</a>
                                {% else %}                              
                                <a href="{%url 'signin'%}">Sigin</a>
                                   {% endif %}
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo p-0">
                        <a href="{% url 'home'%}"><img src="{%static 'user/image/logo.png'%}" alt="" style="width: 150px;"></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class=" {% if request.resolver_match.url_name == 'home' %}active{% endif %} "><a href="{% url 'home'%}">Home</a></li>
                            <li class=" {% if request.resolver_match.url_name == 'shop' %}active{% endif %} "><a href="{% url 'shop'%}">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="{%url 'orders'%}">Orders</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="{%url 'contact'%}">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{%static 'user/image/icon/search.png'%}" alt=""></a>
                        <a href="{%url 'wishlist'%}"><img src="{%static 'user/image/icon/heart.png'%}" alt=""></a>
                        <a href="{%url 'cart'%}"><img src="{%static 'user/image/icon/cart.png'%}" alt="" > <span></span></a>
                        <div class="price"></div>
                        <!-- Button trigger modal -->
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal3">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" class="rounded-circle" width="25px">
                </button>
                
                <!-- Modal -->
                <div class="modal fade pt-4" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-right" role="document">
                    <div class="modal-content border-0 " style="border-radius: 10%;"> <!-- Add 'border-0' class to remove borders -->
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp " alt="" width="47%" style="margin-right: 76px;"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body text-center">
                        {% if request.user.is_authenticated %}
                        <h3 class="name text-uppercase">{{request.user}}</h3>
                        <a href="{%url 'profile'%}" class="btn btn-outline-dark pt-1 ">Manage Your Account</a>
                        {% else %}
                        <h3 class="name text-uppercase">{{request.user}}</h3>
                        <a href="{%url 'signin'%}" class="btn btn-outline-dark pt-1 ">Signin Your Account</a>
                        {% endif %}
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>
  
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars "></i></div>
        </div>
    </header>
    <!-- Header Section End -->
{% block body %}{% endblock  %}
 
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="{%static 'user/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'user/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'user/js/jquery.nice-select.min.js'%}"></script>
    <script src="{%static 'user/js/jquery.nicescroll.min.js'%}"></script>
    <script src="{%static 'user/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{%static 'user/js/jquery.countdown.min.js'%}"></script>
    <script src="{%static 'user/js/jquery.slicknav.js'%}"></script>
    <script src="{%static 'user/js/mixitup.min.js'%}"></script>
    <script src="{%static 'user/js/owl.carousel.min.js'%}"></script>
    <script src="{%static 'user/js/main.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>